/* GLOBAL */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  min-width: 320px; }

.notImplemented {
  display: none; }

.hidden {
  visibility: hidden; }

.displaynone {
  display: none; }

/* /GLOBAL */
/* FORM */
.form {
  max-width: 768px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 300; }
  @media screen and (max-width: 1220px) {
    .form {
      max-width: 768px; } }
  @media screen and (max-width: 1024px) {
    .form {
      max-width: 768px; } }
  @media screen and (max-width: 768px) {
    .form {
      max-width: 480px; } }
  @media screen and (max-width: 480px) {
    .form {
      max-width: 100%;
      padding: 10px;
      box-sizing: border-box; } }
  .form__header {
    width: 100%;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end; }
    .form__header > * {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      box-sizing: border-box;
      border: 1px solid #000;
      padding: 10px;
      color: inherit;
      text-decoration: none; }
      .form__header > *:visited {
        color: inherit; }
  .form__body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 25px;
    border: 1px solid #000; }
    .form__body > div {
      position: relative;
      margin-bottom: 25px; }
    .form__body label {
      display: inline-block; }
  .form .formBody__roomsCount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .form .formBody__roomsCount h2 {
      margin-right: 5px; }
    .form .formBody__roomsCount label {
      width: 20px;
      margin-right: 10px; }
    .form .formBody__roomsCount input {
      flex-grow: 1; }
      @media screen and (max-width: 480px) {
        .form .formBody__roomsCount input {
          width: 100%; } }
  .form .formBody__size {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .form .formBody__size h2 {
      margin-right: 5px; }
    .form .formBody__size label {
      width: 60px;
      margin-right: 10px; }
    .form .formBody__size input {
      flex-grow: 1; }
      @media screen and (max-width: 480px) {
        .form .formBody__size input {
          width: 100%; } }
  .form .formBody__materials > div {
    width: 150px; }
  .form .formBody__rooms > div {
    width: 125px; }
  .form .formBody__work > div {
    width: 160px; }
  .form .formBody__time > div {
    width: 160px; }
  .form .formBody__date > div {
    width: 180px; }
  .form .formBody__checkbox {
    display: flex;
    flex-wrap: wrap; }
    .form .formBody__checkbox h2 {
      width: 100%;
      flex-grow: 1; }
    .form .formBody__checkbox > div {
      display: inline-block;
      margin-bottom: 15px;
      margin-right: 15px; }
    .form .formBody__checkbox label {
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      padding: 5px 10px;
      background: #fff;
      border: 1px solid #000;
      cursor: pointer;
      transition: .3s ease-in-out;
      position: relative;
      right: 2px;
      bottom: 2px;
      box-shadow: 1px 1px 1px 5px #000; }
      .form .formBody__checkbox label:hover {
        background: #000;
        border: 1px solid #000;
        color: #fff;
        box-shadow: inset 1px 0 5px #000; }
    .form .formBody__checkbox input {
      display: none; }
    .form .formBody__checkbox input:checked + label {
      background: #000;
      border: 1px solid #000;
      color: #fff;
      box-shadow: none;
      bottom: 0;
      right: 0; }
    .form .formBody__checkbox input:not(:checked) + label {
      background: #fff;
      border: 1px solid #000;
      color: #000;
      right: 2px;
      bottom: 2px;
      box-shadow: 2px 2px 4px 0px #000; }
    @media screen and (max-width: 480px) {
      .form .formBody__checkbox {
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .form .formBody__checkbox > div {
          width: 100%;
          margin-bottom: 15px;
          margin-right: 0; } }
  .form .formBody__budget {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .form .formBody__budget h2 {
      margin-right: 5px; }
    .form .formBody__budget label {
      width: 75px;
      margin-right: 10px; }
    .form .formBody__budget input {
      flex-grow: 1; }
      @media screen and (max-width: 480px) {
        .form .formBody__budget input {
          width: 100%; } }
  .form .formBody__sizes > div {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .form .formBody__sizes > div.js_displaynone {
      display: none; }
  .form .formBody__sizes h2 {
    margin-right: 5px; }
  .form .formBody__sizes label {
    width: 200px;
    margin-right: 10px; }
    @media screen and (max-width: 480px) {
      .form .formBody__sizes label {
        width: auto; } }
  .form .formBody__sizes input {
    flex-grow: 1; }
    @media screen and (max-width: 480px) {
      .form .formBody__sizes input {
        width: 100%; } }
  .form .formBody__text {
    display: flex;
    flex-direction: column; }
    .form .formBody__text > * {
      margin-bottom: 10px; }
  .form h2 {
    font-size: 18px;
    font-weight: 600; }
  .form label {
    font-size: 18px; }
  .form input {
    font-family: 'Roboto', sans-serif; }
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='date'],
  .form input[type='time'],
  .form input[type='tel'],
  .form input[type='file'],
  .form textarea {
    border: 1px solid #000;
    padding: 10px 15px; }
  .form input[type='file'] {
    max-width: 100%;
    box-sizing: border-box; }
  .form textarea {
    resize: none; }
  .form input[type='submit'] {
    padding: 10px 15px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-weight: bold; }
    .form input[type='submit']:hover {
      background: #fff;
      color: #000;
      border: 1px solid #000; }
  .form .js_displaynone {
    display: none; }
  .form .js_form__active {
    transition: .3s ease-in-out;
    background: #000;
    color: #fff; }

/* /FORM */

/*# sourceMappingURL=index.css.map */
